.dashboardLayout{
    display: flex;
    gap: 50px;
    padding-top: 20px;
    height: 100%;

    

    .menu{
        flex: 1;
    }
    .content{
        
        flex:4;
        background-color:#010e20 ;
        border-radius: 25px;
        margin-bottom: 30px;

    }
}